<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="ConsoleAppender" />
        </root>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="Elastic.CommonSchema.log4net.EcsLayout, Elastic.CommonSchema.log4net" />
        </appender>
    </log4net>
</configuration>